/* This will be my CSS stylesheet */

/* background color body: #fffafa;
Font color: #065535;  */

/* need to add in CSS variables with :root{} */

:root {
  --primary-font-size: 16px;
  --primary-background: #fffafa;
  --primary-button-color: #d2b48c;
  --primary-font-color: #000;
  --secondary-font-color: #065535;
  --secondary-button-color: #add8e6;
  --selected-border: #008000;
}

body {
  background: var(--primary-background);
  color: var(--secondary-font-color);
  font-family: Lato, sans-serif;
  font-size: var(--primary-font-size);
  line-height: 1.5;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

button {
  background: var(--primary-button-color);
  color: var(--primary-font-color);
  font-family: Lato, sans-serif;
  font-size: 18px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.4s opacity;
}

.list-button {
  width: 200px;
  height: 50px;
  background: var(--secondary-button-color);
  color: var(--primary-font-color);
  font-family: inherit;
  font-size: 18px;
  text-align: left;
  border: 2px solid #000;
  transition: 0.4s opacity;
}

button:hover,
button:focus,
button:active {
  border: 2px solid var(--selected-border);
  cursor: pointer;
  opacity: 0.8;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

.pokemon-list li {
  padding: 2px;
}

@media all and (max-width: 500px) {
  .pokemon-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
