/* This will be my CSS stylesheet
Remember mor general rules first more specific rules later. */

/* background color body: #fffafa;
Font color: #065535;  */

/* need to add in CSS variables with :root{} */

:root {
  --primary-font-size: 16px;
  --primary-background: #fffafa;
  --primary-button-color: #d2b48c;
  --primary-font-color: #000;
  --secondary-font-color: #065535;
  --secondary-button-color: #add8e6;
  --selected-border: #008000;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--primary-background);
  color: #000;
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
  font-size: var(--primary-font-size);
  line-height: 1.5;
}

/* page header */
.page-header {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  font-size: 20px;
}

.page-header__item {
  flex: 0 1 200px; /* gives all items a base width of 200px */
  padding: 10px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* app title */
#pokedex-title {
  padding-left: 10px;
}

/* NAVIGATION */
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 1s;
}

.top-nav {
  background-color: var(--primary-background);
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-nav a {
  float: right;
  display: block;
  color: var(--primary-font-color);
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 4px;
}

a.logo-link {
  padding: 4px 0;
  float: left;
}

.top-nav a:hover {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.top-nav a.active {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

a.logo-link:hover {
  background-color: var(--primary-background);
}

.top-nav .icon {
  background: var(--primayr-background);
  display: none;
}

/* buttons */
button {
  background: var(--primary-button-color);
  color: var(--primary-font-color);
  font-family: Lato, sans-serif;
  font-size: 18px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.4s opacity;
}

.list-button {
  width: 200px;
  height: 50px;
  background-color: #ff6e40;
  color: #f5f0e1;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 22px;
  text-align: left;
  border: 2px solid #000;
  transition: 0.4s opacity;
  border-radius: 25px;
}

button:hover,
button:focus,
button:active {
  border: 2px solid var(--selected-border);
  cursor: pointer;
  opacity: 0.8;
}

/* search bar */
.search-form {
  min-width: 150px;
  max-width: 200px;
  height: 50px;
  background-color: #1e3d59;
  color: #ff6e40;
  font-size: 18px;
  text-align: right;
  border-radius: 25px;
}

.search-form::placeholder {
  color: #ffc13b;
}

.search-button {
  background-color: #ffc13b;
  color: #1e3d59;
  height: 50px;
  width: 100px;
  border-radius: 25px;
  padding: 5px;
}

/* JavaScript app customization */
#app-title {
  min-width: 250px;
  max-width: 1200px;
  display: block;
  justify-content: center;
}

#app-header {
  min-width: 250px;
  max-width: 1200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  padding: 30px;
  background-image: url(../../img/poke-footer.svg);
}

#input-wrap {
  padding: 2px;
  margin: 2px;
  text-align: right;
}

.app-header__item {
  width: 100%;
  height: 60px;
}

.app-list-wrap {
  min-width: 250px;
  max-width: 1200px;
  margin: 30px;
  border: 2px solid rgba(0, 230, 64, 0.6);
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.pokemon-list li {
  padding: 2px;
}

/* styling for modal */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/pokeball-bg.svg);
  background-position: center;

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if screen not high enough: */
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background-color: #1e3d59;
  color: #ff6e40;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  text-transform: capitalize;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  background: none;
  color: #ff6e40;
  text-decoration: underline;
  border: solid #ff6e40 1.5px;
  border-radius: 25px;
  height: 40px;
  width: 80px;
}

.modal h1 {
  margin-top: 0;
  text-align: left;
}

.modal p {
  margin-bottom: 0;
}

/* styling for pokemon picture inside modal: */
.pokemon-image {
  margin: auto;
  display: block;
  width: 150px;
  height: 150px;
}

@media all and (max-width: 500px) {
  .pokemon-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
